/*body exportado con licencia abierta de fonts.google.com montserrat*/
body{
    font-family: 'DM Sans', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

footer{
    background: url(/oracle/html\ y\ css/imagenes/bg.jpg); /*llamado a la img desde el css*/
    padding: 40px;
    text-align: center;
}

nav {
    position: absolute;
    right: 0;
    top: 110px;
}

nav li{
   display: inline;
   margin: 0 0 0 15px;
}

nav a{
   color: #000000;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
   text-transform: uppercase;
}

nav a:hover{
   color: #c78c19;
   text-decoration: underline;
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-size: bold;
}

td, th{
    border: 1px solid #000000;
    border-radius: 5;
    padding: 8px 15px;
}

.caja{
    margin: 0 auto;
    position: relative;
    width: 940px;
}

.checkbox{
    margin: 20px 0;
}

.copyright{
    color: aliceblue;
    font-size: 15px;
    margin: 20px;
}

.enviar{
    background: #BBBBBB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
    transition: 2s all; /* transition, transform desde css 3 antes solo era permitido en js*/
    width: 40%;
}

.enviar:hover{
    background: darkgray;
    transform: scale(1.2) rotate(70deg);
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.productos{
    margin: 0 auto;
    padding: 50px;
    width: 940px;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li{
    border-color: #000000;
    border-radius: 10px;
    box-sizing: border-box; /*para q no sobrepase los 940px ni los 30% */
    border-style: dashed;
    border-width: 5px;
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 20px;
    /*border-top-width: 10px;*/
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.productos li:hover{
    border-bottom: #c78c19;
    font-size: 33px;
}

.productos li:hover h2{ /*grande el bloque*/
    font-size: 33px;
}

.producto-descripcion{
    font-size:  18px;
}

.productos li:active{
    border-color: #088c19;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

/*CSS para pag principal*/
p:first-line{
    font-style: italic; /*el primer parráfo este en estilo italic*/
}

.banner{
    width: 100%;
}

.contenido-diferenciales{
    margin: 0 auto;
    width: 640px;
}

.diferenciales{
    background: #888888;
    box-shadow: inset 0 0 30px black; /*sombras internas*/
    padding: 3em 0;
}

.lista-diferenciales{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.imgCentral{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0; /*siempre en sentido de las manecillas del reloj*/
}

.img-diferenciales{
    width: 60%;
    box-shadow: 10px 10px 20px 25px black, -10px -10px yellow;
}

.img-diferenciales:hover{
    opacity: 0.3;
    transition: 400ms;
}

.items{
    line-height: 1.5; /*da espacio interlineal*/
}

.items::before{
    content: "✵";
}

.items:first-child{
    font-weight: bold;
}

/*.items:nth-child(2){
    font-weight: bold;
}*/

/*este es el formato para el mapa*/
.mapa{
    background: linear-gradient(45deg, #fefefe, #888888);
    padding: 3em 0;
}

.mapa-contenido{ /*quito el main y coloco div con una clase para conservarle*/
    margin: 0 auto;
    width: 940px;
}

.mapa-contenido p{
    margin: 0 0 2em;
    text-align: center;
}

.principal{
    background: #fefefe;
    margin: 0 auto;
    padding: 3em 0;
    width: 940px;
}

.principal p{
    margin: 0 0 2em;
}

.principal p:not(#mision, #Alura){
    background:grey;
} 


.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.titulo-principal{
    clear: left; /*que me afecte solo esta sección */
    color:rgba(0, 0, 0, 0.3); /*opacacidad rgba(0, 0, 0, (el % d opacidad))*/
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;   
    text-shadow: 2px 2px 10px black; 
}

.titulo-principal:first-letter{ /*la primera letra en mayúscula*/
    font-weight: bold;
}

.titulo-principal::after{
    content: "[";
}

/*sección vídeos adjuntos*/
.videos{
    margin: 1em auto;
    width: 560px;
}

.videos p{
    margin: 0 0 2em;
    text-align: center;
}

@media screen and (max-width: 480px){ /* configuración todo tipo de pantallas responsive */
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .contenido-diferenciales, .mapa-contenido, .principal, .videos{
        width: auto;
    }

    .lista-diferenciales, .img-diferenciales{
        width: 100%;
    }
}



